* {
  margin: 0;
  padding: 0;
}

.open-sans-googlefont {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  font-size: 28px;
  margin-left: 100px;
}

.nav-manu {
  margin-right: 100px;
}

.btn-paimary {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

.banner {
  height: 640px;
  background-image: url(assets/Hero-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.banner-container {
  width: 990px;
  padding: 0 50px;
}

.banner-image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.banner-description {
  text-align: center;
  margin-bottom: 40px;
}

.banner-button {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.main-container {
  width: 1100px;
  margin: 0 auto;
}

main section {
  margin-bottom: 100px;
}

.why-webdev {
  padding: 80px;
  background-color: #dee0fd46;
}

.why-webdev-title {
  text-align: center;
}

.why-webdev-description {
  text-align: center;
  padding: 0 70px;
  margin: 20px 0;
}

.explain-webdev {
  display: flex;
  background-color: white;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.webdev-explain-tile {
  margin-bottom: 15px;
  font-weight: 600;
  opacity: 0.8;
}

.webdev-explain-description {
  opacity: 0.7;
  margin-bottom: 20px;
}

.video-title {
  text-align: center;
  margin-bottom: 20px;
}

.video-description {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 100px;
  opacity: 0.7;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-item {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(160, 159, 159, 0.295);
}

iframe {
  border-radius: 10px;
}

.current-target-cart {
  display: flex;
  gap: 20px;
}

.cart-primary {
  background-color: #fff6f4;
}

.cart-secondary {
  background-color: #f2f6fe;
}

.cart-third {
  background-color: #fffdf2;
}

.current-target-singlecart {
  padding: 30px;
}

.current-target-singlecart > img {
  display: block;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.current-target-singlecart > h1,
p {
  text-align: center;
  margin-bottom: 10px;
}

.current-target-singlecart > p {
  opacity: 0.7;
  font-size: 13px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.next-target > h1 {
  text-align: center;
  margin-bottom: 30px;
}

.next-target > p {
  text-align: center;
  opacity: 0.7;
  padding: 0 100px;
  margin-bottom: 30px;
}

.next-target-carts {
  display: flex;
  border: 1px solid rgba(124, 123, 123, 0.274);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.next-target-carts img {
  width: 100px;
}
.next-target-cart {
  padding: 0 30px;
}

.next-target-cart > p {
  text-align: start;
  font-size: 14px;
  opacity: 0.7;
  margin: 8px 0 15px 0;
}

.subscription {
  background-image: linear-gradient(
      180deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url(assets/handshake.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

.subscription-title {
  color: white;
  text-align: center;
}

.subscription-description {
  margin-top: 15px;
  font-size: 15px;
  opacity: 0.8;
}

.subscription-input {
  display: flex;
  justify-content: center;
}

.subscription-button {
  padding: 10px 20px;
  margin: 50px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.subscription-box {
  width: 400px;
}
